# În .htaccess sau configurarea rutelor
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^staff-track/?$ index.php?url=pages/staffTrack [L,QSA]
RewriteRule ^patient-watch/?$ index.php?url=pages/patientWatch [L,QSA]